{% extends "dashboard/base.html" %}

{% block DashboardTitle %}
  Category
{% endblock DashboardTitle %}

{% block DashboardContent %}
<div class="d-flex justify-content-between align-items-center my-4">
  <h2 class="heading">List All Payments</h2>
</div>
  <div>
    <table id="payments-table" class="table table-striped table-responsive custom-table">
      <thead>
        <th>#</th>
        <th>Paid By</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% if object_list %}
          {% for payment in object_list %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{payment.paid_by.user.get_username}}</td>
              <td>{{payment.payment_method}}</td>
              <td>{{payment.amount}}</td>
              <td>{{payment.status}}</td>
              <td></td>
              {% comment %}
                
              <!-- <td>
                <a href="{% url 'dashboard:payment_delete' payment.id %}" class="btn btn-danger rounded-pill"><i class="fa fa-trash text-white"></i> </a>
              </td> -->
              {% endcomment %}
            </tr>
            {% empty %}
            <tr>
              <td class="text-center text-info py-4" colspan='6'>No data available at the moment</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock DashboardContent %}

{% block DashboardScript %}
  <script>
    $('document').ready(function(){
      $('#payments-table').DataTable();
    })
  </script>
{% endblock DashboardScript %}