{% extends "dashboard/base.html" %}

{% block DashboardTitle %}
  Category
{% endblock DashboardTitle %}

{% block DashboardContent %}
  <h2 class="my-2 py-2 rounded-3 heading">List All Orders</h2>
  <div>
    <table class="table table-striped table-responsive">
      <thead>
        <th>#</th>
        <th>Customer</th>
        <th>Amount/Items Bought</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Status Changer</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% if object_list %}
          {% for order in object_list %}
            <tr class="">
              <td>{{forloop.counter}}</td>
              <td class="text-capitalize">{{order.customer.user.get_username}}</td>
              <td>GHc {{order.total_items_amount}}({{order.items_in_cart}})</td>
              <td>{{order.total_amount}}</td>
              <td>{{order.status}}</td>
              <td>
                <form action="{% url 'dashboard:order_status_update' pk=order.id %}" method="post">
                  {% csrf_token %}
                  {{form.status}}
                </form>
              </td>
              <td>
                <a href="{% url 'dashboard:order_detail' order.id %}" class="btn btn-info rounded-pill"><i class="fa fa-eye text-white"></i> </a>
                <a href="{% url 'dashboard:order_delete' order.id %}" class="btn btn-danger rounded-pill"><i class="fa fa-trash text-white"></i> </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td class="text-center text-info py-4" colspan='4'>No data available at the moment</td>
            </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center text-info py-4" colspan='4'>No data available at the moment</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock DashboardContent %}


{% block DashboardScript %}
<script>
  $(document).ready(function(){
   $('select[name="status"]').change(function(){
    $(this).closest('form').trigger('submit')
   })
  })
</script>
  
{% endblock DashboardScript %}