// Fonts
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@400;600;700&display=swap');

$primary: #bc824c;
$primary-100: lighten($color: $primary, $amount: 10);
$primary-200: lighten($color: $primary, $amount: 20);
$primary-300: lighten($color: $primary, $amount: 30);
$primary-400: lighten($color: $primary, $amount: 40);
$primary-500: lighten($color: $primary, $amount: 50);
$secondary: #f6ae54;
$accent: #f6e3c5;

$bg-main-color: #f0f2f5;

html, body{
  font-family: 'Poppins', 'sans-serif' !important;
}
strong{
  font-weight: 600 !important;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0 !important;
}


.avatar{
  width: 50px;
  height: 50px;
  background: $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
  }

  &.success{
    background: rgb(48, 219, 48);
  }
}

.animate{
  &-spin{
    transform: rotateZ(-180deg);
    animation: spin 200ms linear 1s infinite ;
  }

  @keyframes spin {
    to {
      transform: rotateZ(180deg);
      
    }
  }
}

// .copy-text-clipboard{
//   cursor: pointer !important;
// }

.text{
  &-primary{
    color: $primary !important;
  }
}

.image-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.custom-carousel{
  &-tab-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height:2px;
      background: #ccc;
      // z-index: -1;
    }
  }
  &-tab{
    background: white;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    &.active &-icon{
      background: $primary;
      color: white;
    }
    &.active &-label{
      color: $primary;
    }
    
    &-icon{
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.3rem;
    }
    &:hover{
      cursor: pointer;
    }
    &:hover &-icon{
      background: $primary;
      color: white;
    }
    &:hover &-label{
      color: $primary;
    }
  }
}

.layout {
  display: flex;
  flex-direction: row;
  // min-height: 100vh;

  // HEADER
  &-header {
    min-height: 80px;
    width: 100%;
    
  }

  // SIDEBAR
  &-sidebar {
    overflow-y: auto;
    background: $primary-100 !important;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
  }

  // MAIN
  &-main {
    flex: 1;
    background: $bg-main-color;
    height: 100vh;
    overflow-y: auto !important;
  }
}

// MENU
.menu {
  &-title {
    margin: 0.4rem 0;
    &:hover {
      // background: lighten($color: #4cacbc, $amount: 30);
      background: $primary-300;
    }
  }

  &-item {
    @extend strong;
    border-radius: 0.4rem;
    background: $primary-300;
    display: inline-block;
    width: 100% !important;
    padding: 1rem;
    text-decoration: none;
    color: #202020 !important;
    border: none;
    outline: none;
    text-align: start;
    font-size: .9rem !important;
    * {
      color: #fff !important;
    }
    i {
      margin-right: 0.4rem;
    }
  }
  &-sub {
    .menu-title {
      position: relative;
      &::after {
        position: absolute;
        content: "☰";
        size: 2rem;
        top: 50%;
        right: 0;
        margin-right: 1rem;
        font-weight: bold;
        transform: translateY(-50%);
      }
    }

    &-items {
      padding-inline: 1rem;
    }
    & &-items .menu-item {
      margin-top: 0.8rem;
      background: $primary-300;
      &:hover {
        background: $primary-400;
      }
    }
  }
}

.custom-form{
  input.form-control,
  select.form-control{
    padding: .7rem 1rem !important;
  }
  .form-control{
    background-color: #f3f3f4 !important;
    border: 0;
  }
}

.alert{
  text-align: center;
  padding: .5rem 1rem !important;
}

.btn{
  padding: .6rem 1.4rem !important;
  font-weight: bold !important;
  &-primary{
    background: $primary !important;
    border-color: $primary !important;
    outline-color: $primary !important;
  }
}

.table{

  thead{
    background: $primary-300;
    tr th{
      padding-block: 1rem!important;
      border-bottom: 5px $bg-main-color solid !important;
    }
  }
  tr{
    padding-inline: 1rem !important;
  }
  tbody{
    tr{
      transition: transform 250ms ease-in;
    }
    tr:hover{
      // transform: scale(1.02);
      // transition: transform 250ms ease-out;
    }
  }
}

.account{
  background-color: $primary-100;
  &-layout{
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh !important;
    & > div{
      display: flex;
      align-items: center;
      min-height: 500px;
    }
  }
  &-form{
    input.form-control{
      background: $primary-300 !important;
      border-color: $primary !important;
      color: $primary !important;
      padding: .7rem 1rem !important;
      &::placeholder{
        color: #fff !important;
      }
    }
  }
}