{% extends "dashboard/base.html" %}

{% block DashboardTitle %}
  Homepage
{% endblock DashboardTitle %}

{% block DashboardContent %}
  <h2 class="my-2 py-2 rounded-3 heading">Create New User Admin Point</h2>
  {% if data %}
    
    <div class="alert alert-info">
      <strong>username: {{data.user.username}}, email: {{data.user.email}}, passcode: <span id="data-password">{{data.generated_password}}</span>
      <i class="fa fa-copy copy-text-clipboard" data-target="#data-password"></i>
      </strong>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body shadow-md border-0">
        <form action="" method="post" class="custom-form">
          {% csrf_token %}
          <div class="form-group mt-2">
            <label for="">{{form.username.label}}</label>
            {{form.username}}
          </div>
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              <small class="text-danger">{{error}}</small>
            {% endfor %}
          {% endif %}
          <div class="form-group mt-2">
            <label for="">{{form.email.label}}</label>
            {{form.email}}
          </div>
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <small class="text-danger">{{error}}</small>
            {% endfor %}
          {% endif %}
          <div class="form-group mt-2">
            <label for="">{{form.user_role.label}}</label>
            {{form.user_role}}
          </div>
          {% if form.user_role.errors %}
            {% for error in form.user_role.errors %}
              <small class="text-danger">{{error}}</small>
            {% endfor %}
          {% endif %}
          <div class="form-group mt-2">
            <label for="">{{form.delivery_location.label}}</label>
            {{form.delivery_location}}
          </div>
          {% if form.delivery_location.errors %}
            {% for error in form.delivery_location.errors %}
              <small class="text-danger">{{error}}</small>
            {% endfor %}
          {% endif %}
          
          <div class="text-end">
            <button type="submit" class="btn btn-primary mt-4"><i class="fa fa-user"></i> save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock DashboardContent %}

{% block DashboardScript %}
  <script>
    $('document').ready(function(){
      function myFunction() {
        // Get the text field
        var copyText = $($(this).data('target'));
        console.log(copyText)
       // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
      
         // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.html());
      
        // Alert the copied text
        alert("Copied the text: " + copyText.html());

      
      }  
      $('.copy-text-clipboard').click(myFunction)

      if($('#id_user_role').val().toLowerCase() !== 'agent'){
        $('#id_delivery_location').closest('.form-group').removeProp('required').hide()
      }

      $('#id_user_role').change(function(){
        if($(this).val().toLowerCase() !== 'agent'){
          $('#id_delivery_location').closest('.form-group').hide()
        }else{
          $('#id_delivery_location').closest('.form-group').show()
        }
      })
    })
  </script>
{% endblock DashboardScript %}
  