{% extends "dashboard/base.html" %}

{% block DashboardTitle %}
  Homepage
{% endblock DashboardTitle %}

{% block DashboardContent %}
  <h2 class="my-2 py-2 rounded-3 heading">Dashboard Content</h2>
  <section class="card card-body border-0">
    <div class="row">
      <div class="col-md-3">
        <div class="px-2 py-4">
          <h4>Users Count</h4>
          <h1><strong>1.240</strong> <i class="fa fa-users text-muted"></i></h1>
          <small class="text-muted">Views</small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="px-2 py-4">
          <h4>Animal Count</h4>
          <h1><strong>123</strong> <i class="fa fa-optin-monster text-muted"></i></h1>
          <small class="text-muted">Views</small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="px-2 py-4">
          <h4>Payments Count</h4>
          <h1><strong>1.240</strong> <i class="fa fa-credit-card-alt text-muted"></i></h1>
          <small class="text-muted">Views</small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="px-2 py-4">
          <h4>Orders Count</h4>
          <h1><strong>1.240</strong> <i class="fa fa-cart-plus text-muted"></i></h1>
          <small class="text-muted">Views</small>
        </div>
      </div>
    </div>
  </section>
{% endblock DashboardContent %}

{% block DashboardModals %}
  
{% endblock DashboardModals %}