{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRADIE | {% block Title %} {% endblock Title %}</title>
  <!-- STYLES -->
  {% include "inc/stylesheets.html" %}
</head>
{% block InternalStyle %}
  
{% endblock InternalStyle %}
<body>
  {% block Content %}
    
  {% endblock Content %}

 {% include "inc/scripts.html" %}

 {% block InternalScript %}
   
 {% endblock InternalScript %}
</body>
</html>